$red: #EA223A;
$green: #48D46E;
$blue: #58D1E4;
$purple: #6B23F5;
$light-purple: #9058FB;
$dark-purple: #110626;

$black: #0D0224;
$black-purple: #110626;
$gray-light: #F5F5F5;
$gray-light-med: #D8D8D8;
$gray-med: #9B9B9B;
$gray-dark-med: #5B5665;
$gray-dark: #4A4A4A;

$shadow: 1px 2px 8px 4px rgba(0,0,0,.06);
$purple-gradient:  linear-gradient(to right, $purple , $light-purple);

$default-font: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", sans-serif;
