@import '~tachyons/src/_text-align';
@import '~tachyons/src/_type-scale';
@import '~tachyons/src/_font-weight';

h1 {
  font-size: 38px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.caption-size {
  font-size: 12px;
  font-weight: 200;
}
