@import 'global';
@import 'typography';
@import 'vendor/tachyons';
@import 'base/_helpers';
@import 'components/_globalMap';
@import 'components/_home';
@import 'components/_browseScreen';
@import 'components/_timeline';
@import 'components/_tourOverview';
@import 'components/_customizeTour';
@import 'components/_wanderMode';
@import 'components/piece-screen/_all';

$navHeight: 65px;

body {
  font-family: $default-font;
  background-color: $gray-light;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $black;
}

#app {
  padding-bottom: $navHeight;
}

nav {
  @extend .caption-size;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $black;
  z-index: 1000;
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  li {
    padding: 10px 20px;
    a {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        fill: white;
      }
      &.active svg {
        fill: $light-purple;
      }
    }
  }
}

.button {
  color: white;
  background: #6B23F5;
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 15px;
  a {
    color: white;
  }
}

.center-button {
  @extend .button;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 60%;
  font-size: 16px;
}

.arrow {
  &--white {
    fill: white;
  }
  &--purple {
    fill: $purple;
  }
  &--left {
    transform: rotate(-90deg);
  }
  &--up {
    transform: rotate( 0deg );
  }
  &--down {
    transform: rotate( -180deg );
  }
}
