@import 'global';
@import 'typography';
@import 'vendor/tachyons';
@import 'components/_globalMap';
@import 'components/_home';
@import 'components/_browseScreen';
@import 'components/_timeline';
@import 'components/_tourOverview';
@import 'components/_customizeTour';
@import 'components/_wanderMode';
@import 'components/piece-screen/_all';
@import 'components/_arrival-modal';

$navHeight: 65px;

body {
  font-family: $default-font;
  background-color: $gray-light;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $black;
}

#app {
  padding-bottom: $navHeight;
}

nav {
  @extend .caption-size;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $black;
  z-index: 1000;
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  li {
    padding: 10px 20px;
    a {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        fill: white;
      }
      &.active svg {
        fill: $light-purple;
      }
    }
  }
}

.nav--in-tour {
  color: white;
  background: $dark-purple2;
  p {
    font-size: 12px;
    text-align: center;
  }
  .nav__progress-bar {
    position: absolute;
    height: 15px;
    width: 100%;
    top: -12px;
    background: $dark-purple2;
    display: flex;
    .nav__progress-bar--item {
      &:first-of-type {
        background: $purple;
      }
      background: $gray-dark-med;
      width: inherit;
      height: 3px;
      margin: 3px;
    }
    .nav__progress-bar--link {
      height: 2px;
      display: block;
    }
  }
}

.button {
  color: white;
  background: #6B23F5;
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 15px;
  a {
    color: white;
  }
}

.arrow {
  &--white {
    fill: white;
  }
  &--purple {
    fill: $purple;
  }
  &--left {
    transform: rotate(-90deg);
  }
  &--up {
    transform: rotate( 0deg );
  }
  &--down {
    transform: rotate( -180deg );
  }
}
