// Applied by ReactModal component
.arrival-modal__wrapper {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  color: white;
  overflow: auto;
  outline: none;
  padding: 20px
}

.arrival-modal__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black-purple;
}
