// Applied by ReactModal component
.arrival-modal__wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px + 65px;
  color: white;
  overflow: auto;
  outline: none;
  padding: 20px
}

.arrival-modal__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black-purple;
}

.arrival-modal__content {
  text-align: center;

  h3,
  h5 {
    margin: 0;
  }

  h5 {
    @extend .f3;
    @extend .lh-copy;
    font-weight: normal;
  }

  h3 {
    @extend .f2;
    @extend .lh-title;
    font-weight: bold;
  }

  p {
    text-align: left;
  }
}

.arrival-modal-piece__image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  clip-path: circle();
}
