.browse-screen__container {
  columns: 2;
}

.browse-screen__image {
  display: block;
  width: 100%;
  padding: 10px 0;
}

.browse-input {
  margin-top: 30px;
  margin-left: 5%;
  width: 90%;
  font-size: 16px;
  background-color: $gray-light;
  padding: 11px 15px;
  border: 1px solid $gray-light-med;
  border-radius: 5px;

}

.search-suggestion{
  text-align: center;
  color: $gray-med;
  line-height: 2.5;
}

.browse-search--close {
  position: absolute;
  right: 20px;
}
