.browse-screen__wrapper {
  margin: 15px 15px 0;
}

.browse-screen__container {
  columns: 2;
}

.browse-screen__image {
  display: block;
  width: 100%;
  padding: 10px 0;
}

.browse-input {
  margin-top: 30px;
  margin-left: 5%;
  width: 90%;
  font-size: 16px;
  background-color: $gray-light;
  padding: 11px 15px;
  border: 1px solid $gray-light-med;
  border-radius: 5px;
}

.search-suggestion{
  text-align: center;
  color: $gray-med;
  line-height: 2.5;
}

.browse-search--close {
  position: absolute;
  right: 20px;
}

.modal--add-piece {
  background-color: #110626;
  color: white;
  padding: 20px 20px 40px;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  margin: 0 20px;
  h3 {
    font-size: 40px;
    text-align: center;
    margin: 10px 20px 20px;
    font-weight: 300;
  }
  > div {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }
  .modal--image {
    padding: 0px 15px;
    box-sizing: border-box;
  }
}

.browse-screen__header-container {
  display: flex;
  justify-content: space-between;
  wrap: wrap;
}

.browse-screen__header {
  display: inline-block;
}

.browse-screen__filter {
  display: inline-block;
  text-align: right;
  margin-top: 46px;
  font-weight: 500;
  color: $gray-med; 
}
