.customize-tour--background {
  background-color: $dark-purple;
  height: 100vh;
  color: white;

  .arrow--left {
    float: left;
    margin: 20px 5px;
  }
  & + nav {
    display: none;
  }
}

.customize-tour--wrapper {
  margin: 0 25px;
  padding-top: 80px;
}

.customize-tour--header {
  margin: 5px 0;
}

.customize-tour--label {
  margin: 0;
  color: $gray-dark-med;
  font-size: 18px;
}

.customize-grid {
  columns: 3;
  overflow: hidden;
  

  .customize-grid--container {
    margin-bottom: 25px;
    height: 100px;
  }

  .customize-grid--img {
    width: 100%;
    // height: auto;
  }
}

.customize-slider {
  -webkit-appearance: none;
  background-color: $purple;
  width: 100%;
  height: 6px;
  margin: 30px 0;
  outline: none;
}
/* Special styling for WebKit/Blink */
.customize-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: $shadow;
}

/* All the same stuff for Firefox */
.customize-slider::-moz-range-thumb {
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
.customize-slider::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
