.home-title {
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  color: $gray-light-med;
  font-size: 45px;
  position: fixed;
  z-index: -1;
}

.home-container {
  padding-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tour-container {
  &:nth-child(3n+1) {
    align-self: flex-end;
  }

  &:nth-child(3n+2) {
    align-self: flex-start;
  }

  &:nth-child(3n) {
    align-self: center;
  }
}

.featured-card {
  position: relative;
  background-color: white;
  width: 100%;
  height: 180px;
  box-shadow: $shadow;

  .featured-card--img-wrapper {
    display: inline-block;
    max-width: 50%;
    overflow: hidden;
  }

  .featured-card--img {
    padding: 10px;
    height: 160px;
    display: inline;
  }

  .featured-card--info {
    position: absolute;
    z-index: 1;
    top: 0;
    display: inline-block;
    padding: 10px;

    .featured-card--name {
      font-size: 24px;
      font-weight: 700;
      margin: 10px 0;
    }

    .featured-card--tags {
      padding: 0;
      margin: 10px 0;
      color: $gray-dark-med;
    }

    .featured-card--button {
      @extend .caption-size;
      display: inline-block;
      background-color: $purple;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 10px;
    }
  }
}

.tour-container {
  margin-left: 15px;
  margin-right: 15px;
  width: 80%;
  margin-bottom: 20px;
}
.card-section-labels {
  display: flex;
  justify-content: space-between;
}

.card-section-cards {
  display: flex;
  justify-content: space-between;
}

.card-section-label {
  display: inline-block;
  font-size: 20px;
  color: $gray-dark-med;
  margin: 15px 0;
}

.card-section-label--title {
  font-weight: 500;
}

.card-section-label--more {
  color: $gray-dark-med;
  opacity: .5;
}

.card {
  background-color: white;
  width: 47%;
  display: inline-block;
  box-shadow: $shadow;

  img {
    width: 100%;
  }

  p {
    margin: 0;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
}

.tour-container--custom {
  width: 100%;

  .card-section-label--title {
    @extend .has-lines;
  }
}

.card-no-img {
  padding: 20px 1%;
}
