.tour-overview--featured-img-wrapper {
  max-height: 300px;
  overflow: hidden;
  img {
    width: 100%;
  }
  .arrow--left {
    float: left;
    margin: 20px 0;
    position: absolute;
  }
}
.tour-overview--content-wrapper {
  margin: 20px 25px;
}

.tour-overview--title {
  margin-bottom: 5px;
}

.tour-overview--tags {
  margin-top: 0;
}

.tour-overview--stop {
  margin: 25px 0;
}

.tour-overview--stop-name,
.tour-overview--stop-desc {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
}

.tour-overview--stop-name {
  font-weight: 700;
}

.tour-overview--stop-desc {
  margin-top: 35px;
}

