.tour-overview--featured-img-wrapper {
  max-height: 300px;
  overflow: hidden;
  img {
    width: 100%;
  }
  .arrow--left {
    float: left;
    margin: 20px 0;
    position: absolute;
  }
}
.tour-overview--content-wrapper {
  margin: 20px 25px;
}

.tour-overview--title {
  margin-bottom: 5px;
}

.tour-overview--tags {
  margin-top: 0;
}

.tour-overview-piece {
  margin-bottom: 20px;

  &--img, &--content {
    display: inline-block;
    vertical-align: middle;
  }
  &--title {
    font-weight: bold;
    margin: 5px 0;
  }
  &--content {
    padding-left: 10px;
  }
}
